:root {
  --color-primary: #edc345;
  --color-primary-light: #f9ffc5;
  --color-secondary: #E676D0;
  --color-secondary-light: #FCE8F8;
  --color-accentpurple:#B699E8;
  --color-accentpurple-shadow:#8E56EF;

  --font-primary: "Atma", sans-serif;
  --font-light: "Atma", cursive;
  --font-secondary: "Fredoka One", sans-serif;
}

html {
  font-family: var(--font-primary);
  background-color: var(--color-primary-light);
}

h1 {
  font-family: var(--font-primary);
  color: var(--color-secondary);
}

h2 {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

h3 {
  font-family: var(--font--secondary);
  color: var(--color-accentpurple-shadow);
}

h4 {
  font-family: var(--font--secondary);
  color: var(--color-secondary);
}

h5 {
  font-family: var(--font-secondary);
  color: var(--color-accentpurple);
}

h6 {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
}

strong {
  font-family: var(--font-secondary);
}

b {
  font-family: var(--font-secondary);
}

mark {
  color: var(--color-primary);
}

cite {
  font-family: var(--font-secondary);
}

q {
  font-family: var(--font-secondary);
}

a {
  font-family: var(--font-light);
  text-decoration: none;
  color: var(--color-primary);
}
