---
layout: default
---

<h2>Terms and Conditions</h2>
<div ng-if="UserInfo.approvedTermsAndConditions || !UserInfo.isAuthenticated">
 <ncy-breadcrumb></ncy-breadcrumb>
</div>
<div class="container">
 <div class="row">
   <div class="col-md-8 col-md-offset-2">
     <form name="tandc" ng-submit="approveTandC()">
       <div class="panel panel-default" style="margin-top:20px;">
         <div class="panel-body" style="max-height:600px; overflow-y:scroll; background-color:white;">
           <div style="text-align:center;">
             <h1>Terms and Conditions</h1>
             <p>
               Last updated: January 01, 2019

              Please read these Terms and Conditions (“Terms”, “Terms and Conditions”) carefully before using the https://super-ecommerce.ca website (the “Service”) operated by Super eCommerce (“us”, “we”, or “our”).

              Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.

              By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service. The Terms and Conditions agreement for Super eCommerce has been created with the help of TermsFeed Terms and Conditions Generator.

              When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.

              You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.

              You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.

             </p>
           </div>
         </div>
       </div>
       <div style="text-align:center;" ng-if="settings.Authentication.RequireTermsAndConditions && !UserInfo.approvedTermsAndConditions && UserInfo.isAuthenticated">
         <button style="margin:20px;" class="btn btn-primary" type="submit">Agree to Terms and Conditions</button>
       </div>
     </form>
   </div>
 </div>
</div>
<h2>Cookies</h2>
