<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Pancake Shop</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
</head>

<body>
<ul class="skip-links">
  <li><a href="#main">jump to main</a></li>
  <li><a href="#nav">jump to naviagtion</a></li>
  <li><a href="#footer">jump to footer</a></li>
</ul>
  {% pattern headers/headers %}
  {{content}}
  {% pattern footers/footer %}
  <script src="/js/main.js"></script>
</body>
</html>
